/* ID */
#about-modal {
	background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin: 2%;
	padding: 50px;
	width: 600px;
	height: auto;
	border-radius: 10px;
}

#about-list {
	list-style: none;
}

/* classes */
.about-list-items {
	padding-bottom: 10px;
}