/* IDs */
#plant-component {
	background: white;
	list-style: none;
	margin: 2%;
	padding: 30px;
	width: 350px;
	border-radius: 10px;
}

/* classes */
/* Schedule Display Contextual CSS */
.schedule-green {
	background-color: #54c676;
	color: white;
	font-weight: bold;
	padding-top: 10px;
	width: 250px;
	height: 30px;
	display: inline-block
	/* cursor: pointer; */
}

.schedule-yellow {
	background-color: rgb(255, 196, 0);
	color: white;
	font-weight: bold;
	padding-top: 10px;
	width: 250px;
	height: 30px;
	display: inline-block
	/* cursor: pointer; */
}

.schedule-red {
	background-color: #af4f4c;
	color: white;
	font-weight: bold;
	padding-top: 10px;
	width: 250px;
	height: 30px;
	display: inline-block
	/* cursor: pointer; */
}

/* plant image */
.plant-img {
	width: 250px;
	height: 250px;
	padding-top: 30px;
}

/* watering and repotting section */
.water-repot-sec {
	display: block;
}

.water-repot-btn {
	display: inline-block;
	padding: 10px;
}